
	
a {
	text-decoration: none;
	color: #DD0C46;
}

	
i {
	color: #DD0C46;
}
	div#menuContainer {
		background-image: linear-gradient(#ff0048,#dd0c46);
	}

	ul#nav li a span {
		color: beige;
	}

	
	#mainSlider ul li h1 {
		text-transform: uppercase;
		color: #DD0C46;
	}